# IDEs data.
.idea

# Markdown tools.
.obsidian

# Application dir containing the app code the images are built for.
app/*
!app/.gitkeep

# Local environment variables.
.env
.env.local

# Test data.
test/data

# Ignore dependencies cache files.
node_modules
.pnpm-store

# Ignore npm lock file, the pnpm lock file (pnpm-lock.yaml) is in use.
package-lock.json
